@font-face {
  font-family: myFont;
  src: url(../fonts/ProtestDemo.ttf);
}

.preloader {
  height: 100vh;
  width: 100%;
  background: #000;
  color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text {
  color: #222;
  font-size: 5rem;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.14em;
  font-family: myFont;
  font-weight: 700;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  overflow: hidden;
  animation: animate 3s linear forwards;
}

@keyframes animate {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
